:root {
  --raccoon-accent: #250294;
  --raccoon-accent-hover: #2529bb;
  --raccoon-accent-disabled: #61548d;

  --raccoon-danger: #940402;
  --raccoon-success: #339402;
  --raccoon-warning: #945e02;
  --raccoon-info: #023a94;
}

.theme-light {
  --raccoon-background-primary: #e9e6f4;
  --raccoon-background-secondary: #fff;

  --raccoon-foreground: #000;
}

.theme-dark {
  --raccoon-background-primary: #07001e;
  --raccoon-background-secondary: #04000f;

  --raccoon-foreground: #fff;
}
